@font-face {
    font-family: 'ParisineBold'; 
    src: url('Parisine\ Bold.otf');
}

body{
    font-family: 'ParisineBold';
    color:#284897;
    background-color: white;
}

#incidents_selected{
    color:grey;
    font-size: 0.8em;
    text-align: center;
}


#logo_rera{
    width: 12%; 
    margin-right: 20px; 
    margin-left:10px
}

#main_tabs{
    display: flex; 
    flex-direction:row; 
    justify-content: center;
}

.label{
    display: block; 
    text-align:center;
    margin-top: 10px
}

.separator {
    height: 5px;
    background-color: #E30418;
    margin-top: 40px;
    margin-bottom:40px; 
    width:50%;
    border-radius: 25px;
    margin-left: auto; 
    margin-right: auto;
}

.red_full_line{
    height: 5px;
    background-color: red;
    margin-bottom: 10px;
    width:100%
}

.grey_vertical_separator{
    width: 5px; 
    height: 300px;
    background-color: grey;
    border-radius:25px;
    margin-left:3%;
    margin-right:3%;
}

#typology-dropdown-1{
    width: 100%; 
    display: inline-block; 
    margin-Right: 4%;
}

#gare-dropdown_details_gare{
    width: 90%; 
    margin: auto;
}

.main_info_gare{
    display: flex; 
    width: 100%; 
    height:10%;
}

.panel_gare{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dropdown-item {
    border: 2px solid black;
    background-color:#4D4D4D;
    color:yellow;
    padding: 5px;
    border-radius: 5px;
}

.time_separator{
    height: 3px; 
    background-color: #BCBCBC; 
    width: 100%;
}

.mean_total_time{
    text-align: left; 
    padding:1%;
    margin-Left:5%;
}

.mean_time_text{
    color: yellow; 
    text-Align: center; 
    margin-Left: auto;
}

.mean_time_background{
    background-Color: #4D4D4D; 
    padding: 10px; 
    margin-Left: auto; 
    width: 40%;
    display: flex;
    align-Items: center;
}

.mean_time_box{
    display: flex; 
    width: 100%;
    text-Align: center;
    justify-Content: center;
}

.mean_time_display_logo{
    width: 15%; 
    float: left;
}

.mean_time_display_title{
    margin-Left: 20px;
    margin-Top: 0px:
}

.mean_time_display_current_time{
    background-Color:black;
    color: yellow;
    font-Size:2em;
    padding: 5px 10px;
    margin-Left: auto;
    margin-Right:5%;
    display: inline-block;
}

.mean_time_display_header{
   display: flex;
   align-Items: center;
   width: 100%;

}

.mean_time_display_header_encap{
    overflow: hidden;
}

.mean_time_display_list_elem_title{
    text-Align: left;
    margin-Left:1%;
    padding: 1%;
}

.mean_time_display_list_elem_time{
    color: yellow;
    text-Align: center;
    margin-Left: auto;
}

.mean_time_display_list_elem_time_background{
    background-Color: #4D4D4D;
    padding: 10px;
    margin-Left: auto;
    width: 40%;
    display: flex;
    align-Items: center;
}

.mean_time_display_list_elem_box{
    display: flex;
    width: 100%;
}

.mean_time_display_list_scroll{
    height:300px;
    overflow: auto;
}


.mean_time_main_display{
    margin-Top:50px;
}
.Select-value-label {
    color: #284897;
    }


.custom_range_slider .rc-slider-rail {
    background-color: red;
    height: 15px;
}

.custom_range_slider .rc-slider-track {
    background-color: red;
    height: 15px;

}

.custom_range_slider .rc-slider-dot {
    background-color: white;
    border: 2px solid red;
    height: 10px;
    width: 10px;
    margin-bottom: -5px;
}

.custom_range_slider .rc-slider-handle {
    background-color: white;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    margin-top: -3px;

}

.custom_range_slider .rc-slider-mark-text {
    margin-top: 5px;
}

.custom_range_slider .rc-slider-mark-text-active {
    color:#284897;
}




.custom_slider .rc-slider-rail {
    background-color: red;
    height: 15px;
}

.custom_slider .rc-slider-track {
    background-color: red;
    height: 15px;

}

.custom_slider .rc-slider-dot {
    background-color: white;
    border: 2px solid red;
    height: 10px;
    width: 10px;
    margin-bottom: -5px;
}

.custom_slider .rc-slider-handle {
    background-color: white;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    margin-top: -3px;

}

.custom_slider .rc-slider-mark-text {
    margin-top: 5px;
}

.custom_slider .rc-slider-mark-text-active {
    color:#284897;
}


h1{

    justify-content: center; 
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    margin-top: 20px;

}

h2{
    text-align: center;
}


#dashboard_title{
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    margin-top:20px;
}


.modifiers{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}


.tab{
    width: 30%; 
    margin: 0 10px;  
    border-radius: 10px;  
    border:2px solid; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
}

.tab--selected{
    background-Color: #E30418; 
    border:2px solid;
    color:white; 
    width: 30%; 
    margin: 0 10px;
    border-radius: 10px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
}


.main_content{

    margin-left:10px; 
    margin-right:10px;
}

.mean_response_time_display{
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    border: 5px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}


#gare_and_period{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
#gare_and_period > H3{
    font-size: 1.2em;
    color: grey;
    font-weight: italic;
    text-align: center;
}

#gare_and_period > H1{
    font-size: 3em;
    text-align: center;
}

#gare_and_incident_number{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4D4D4D; 
    padding: 10px;
    margin-left: auto;
    width: 30%;
    color:yellow;
}


#gare_and_incident_number > h5 {
    font-size: 1.5em;
}

#gare_and_incident_number > h3 {
    font-size: 4em;
}


#classement_gare > h3{
    color:red;
    background-color:white;
    padding:10px;
    border: 4px solid red;
    border-radius:25px;
    margin-right: 1%;
    font-size: 1.5em;
    margin-top:10px;
}
#classement_gare{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
